# Project 1: SAT & ACT Analysis

The first markdown cell in a notebook is a great place to provide an overview of your entire project. You will likely want to at least state your

## Problem Statement

In [1]:
#define a problem statement!!!!!

## Executive Summary

If you want to, it's great to use relative links to direct your audience to various sections of a notebook. **HERE'S A DEMONSTRATION WITH THE CURRENT SECTION HEADERS**:

### Contents:
- [2017 Data Import & Cleaning](#Data-Import-and-Cleaning)
- [2018 Data Import and Cleaning](#2018-Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-data)
- [Descriptive and Inferential Statistics](#Descriptive-and-Inferential-Statistics)
- [Outside Research](#Outside-Research)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

**If you combine your problem statement, executive summary, data dictionary, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.** Don't forget to cite your data sources!

*All libraries used should be added here*

In [3]:
#Imports:
import pandas as pd
import numpy as np
import scipy

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

## 2017 Data Import and Cleaning

#### 1. Read In SAT & ACT  Data

Read in the `sat_2017.csv` and `act_2017.csv` files and assign them to appropriately named pandas dataframes.

In [3]:
#Code:
act_2017 = pd.read_csv("../data/act_2017.csv")
# act_2018 = pd.read_csv("../data/act_2018.csv")

# sat_2017 = pd.read_csv("../data/sat_2017.csv")
# sat_2018 = pd.read_csv("../data/sat_2018.csv")

#### 2. Display Data

Print the first 10 rows of each dataframe to your jupyter notebook

In [4]:
#Code:
act_2017.head()

      State Participation  English  Math  Reading  Science Composite
0  National           60%     20.3  20.7     21.4     21.0      21.0
1   Alabama          100%     18.9  18.4     19.7     19.4      19.2
2    Alaska           65%     18.7  19.8     20.4     19.9      19.8
3   Arizona           62%     18.6  19.8     20.1     19.8      19.7
4  Arkansas          100%     18.9  19.0     19.7     19.5      19.4

In [79]:
act_2018.head()

        State  Participation %  Composite
0     Alabama            100.0       19.1
1      Alaska             33.0       20.8
2     Arizona             66.0       19.2
3    Arkansas            100.0       19.4
4  California             27.0       22.7

In [80]:
sat_2017.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            5%                                 593   572   1165
1      Alaska           38%                                 547   533   1080
2     Arizona           30%                                 563   553   1116
3    Arkansas            3%                                 614   594   1208
4  California           53%                                 531   524   1055

In [81]:
sat_2018.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            6%                                 595   571   1166
1      Alaska           43%                                 562   544   1106
2     Arizona           29%                                 577   572   1149
3    Arkansas            5%                                 592   576   1169
4  California           60%                                 540   536   1076

In [5]:
act_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     object
dtypes: float64(4), object(3)
memory usage: 3.0+ KB

In [6]:
act_2017['Composite'][51] = 20.2

/home/kavan/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
act_2017['Composite'][51]

20.2

In [7]:
act_2017['Composite'] = [float(i) for i in act_2017['Composite']]

In [8]:
act_2017['Participation'] = [i.replace('%','') for i in act_2017['Participation']]
act_2017['Participation'] = [float(i) for i in act_2017['Participation']]

act_2017.rename(columns={'Participation':'Participation %'}, inplace=True)

In [31]:
act_2017

,State,Participation %,English,Math,Reading,Science,Composite
0,National,60.0,20.3,20.7,21.4,21.0,21.0
1,Alabama,100.0,18.9,18.4,19.7,19.4,19.2
2,Alaska,65.0,18.7,19.8,20.4,19.9,19.8
3,Arizona,62.0,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100.0,18.9,19.0,19.7,19.5,19.4
5,California,31.0,22.5,22.7,23.1,22.2,22.8
6,Colorado,100.0,20.1,20.3,21.2,20.9,20.8
7,Connecticut,31.0,25.5,24.6,25.6,24.6,25.2
8,Delaware,18.0,24.1,23.4,24.8,23.6,24.1
9,District of Columbia,32.0,24.4,23.5,24.9,23.5,24.2
10,Florida,73.0,19.0,19.4,21.0,19.4,19.8
11,Georgia,55.0,21.0,20.9,22.0,21.3,21.4
12,Hawaii,90.0,17.8,19.2,19.2,19.3,19.0
13,Idaho,38.0,21.9,21.8,23.0,22.1,22.3
14,Illinois,93.0,21.0,21.2,21.6,21.3,21.4
15,Indiana,35.0,22.0,22.4,23.2,22.3,22.6
16,Iowa,67.0,21.2,21.3,22.6,22.1,21.9
17,Kansas,73.0,21.1,21.3,22.3,21.7,21.7
18,Kentucky,100.0,19.6,19.4,20.5,20.1,20.0
19,Louisiana,100.0,19.4,18.8,19.8,19.6,19.5
20,Maine,8.0,24.2,24.0,24.8,23.7,24.3
21,Maryland,28.0,23.3,23.1,24.2,2.3,23.6
22,Massachusetts,29.0,25.4,25.3,25.9,24.7,25.4
23,Michigan,29.0,24.1,23.7,24.5,23.8,24.1
24,Minnesota,100.0,20.4,21.5,21.8,21.6,21.5
25,Mississippi,100.0,18.2,18.1,18.8,18.8,18.6
26,Missouri,100.0,19.8,19.9,20.8,20.5,20.4
27,Montana,100.0,19.0,20.2,21.0,20.5,20.3
28,Nebraska,84.0,20.9,20.9,21.9,21.5,21.4
29,Nevada,100.0,16.3,18.0,18.1,18.2,17.8
30,New Hampshire,18.0,25.4,25.1,26.0,24.9,25.5
31,New Jersey,34.0,23.8,23.8,24.1,23.2,23.9
32,New Mexico,66.0,18.6,19.4,20.4,20.0,19.7
33,New York,31.0,23.8,24.0,24.6,23.9,24.2
34,North Carolina,100.0,17.8,19.3,19.6,19.3,19.1
35,North Dakota,98.0,19.0,20.4,20.5,20.6,20.3
36,Ohio,75.0,21.2,21.6,22.5,22.0,22.0
37,Oklahoma,100.0,18.5,18.8,20.1,19.6,19.4
38,Oregon,40.0,21.2,21.5,22.4,21.7,21.8
39,Pennsylvania,23.0,23.4,23.4,24.2,23.3,23.7
40,Rhode Island,21.0,24.0,23.3,24.7,23.4,24.0
41,South Carolina,100.0,17.5,18.6,19.1,18.9,18.7
42,South Dakota,80.0,20.7,21.5,22.3,22.0,21.8
43,Tennessee,100.0,19.5,19.2,20.1,19.9,19.8
44,Texas,45.0,19.5,20.7,21.1,20.9,20.7
45,Utah,100.0,19.5,19.9,20.8,20.6,20.3
46,Vermont,29.0,23.3,23.1,24.4,23.2,23.6
47,Virginia,29.0,23.5,23.3,24.6,23.5,23.8
48,Washington,29.0,20.9,21.9,22.1,22.0,21.9
49,West Virginia,69.0,20.0,19.4,21.2,20.5,20.4
50,Wisconsin,100.0,19.7,20.4,20.6,20.9,20.5
51,Wyoming,100.0,19.4,19.8,20.8,20.6,20.2

In [39]:
act_2017_comp = []
act_2017_comp = [act_2017['English'] + act_2017['Math'] + act_2017['Reading'] + act_2017['Science']]
act_2017_comp = [i/4 for i in act_2017_comp]

In [40]:
act_2017_comp_bool = [i==j for (i,j) in zip(act_2017['Composite'],act_2017_comp)]

In [60]:
#act_2017_comp_bool

In [52]:
act_2017_comp_df = pd.DataFrame(act_2017_comp).T

In [61]:
#act_2017_comp_df

In [58]:
act_2017_comp_compare = pd.concat([act_2017['Composite'],act_2017_comp_df], axis=1)

In [59]:
act_2017_comp_compare

    Composite       0
0        21.0  20.850
1        19.2  19.100
2        19.8  19.700
3        19.7  19.575
4        19.4  19.275
5        22.8  22.625
6        20.8  20.625
7        25.2  25.075
8        24.1  23.975
9        24.2  24.075
10       19.8  19.700
11       21.4  21.300
12       19.0  18.875
13       22.3  22.200
14       21.4  21.275
15       22.6  22.475
16       21.9  21.800
17       21.7  21.600
18       20.0  19.900
19       19.5  19.400
20       24.3  24.175
21       23.6  18.225
22       25.4  25.325
23       24.1  24.025
24       21.5  21.325
25       18.6  18.475
26       20.4  20.250
27       20.3  20.175
28       21.4  21.300
29       17.8  17.650
30       25.5  25.350
31       23.9  23.725
32       19.7  19.600
33       24.2  24.075
34       19.1  19.000
35       20.3  20.125
36       22.0  21.825
37       19.4  19.250
38       21.8  21.700
39       23.7  23.575
40       24.0  23.850
41       18.7  18.525
42       21.8  21.625
43       19.8  19.675
44       20.7  20.550
45       20.3  20.200
46       23.6  23.500
47       23.8  23.725
48       21.9  21.725
49       20.4  20.275
50       20.5  20.400
51       20.2  20.150

In [71]:
act_2017.iloc[0]

State              National
Participation %          60
English                20.3
Math                   20.7
Reading                21.4
Science                  21
Composite                21
Name: 0, dtype: object

In [78]:
act_2017.iloc[1:].mean(axis=0)

Participation %    65.254902
English            20.931373
Math               21.182353
Reading            22.013725
Science            21.041176
Composite          21.519608
dtype: float64

In [24]:
act_2018 = pd.read_csv("../data/act_2018.csv")

In [25]:
act_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   Composite      52 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

In [26]:
act_2018['Participation'] = [i.replace('%','') for i in act_2018['Participation']]

In [27]:
act_2018['Participation'] = [float(i) for i in act_2018['Participation']]

In [28]:
act_2018.rename(columns={'Participation':'Participation %'}, inplace=True)

In [63]:
act_2018

                   State  Participation %  Composite
0                Alabama            100.0       19.1
1                 Alaska             33.0       20.8
2                Arizona             66.0       19.2
3               Arkansas            100.0       19.4
4             California             27.0       22.7
5               Colorado             30.0       23.9
6            Connecticut             26.0       25.6
7               Delaware             17.0       23.8
8   District of columbia             32.0       23.6
9                Florida             66.0       19.9
10               Georgia             53.0       21.4
11                Hawaii             89.0       18.9
12                 Idaho             36.0       22.3
13              Illinois             43.0       23.9
14               Indiana             32.0       22.5
15                  Iowa             68.0       21.8
16                Kansas             71.0       21.6
17              Kentucky            100.0       20.2
18             Louisiana            100.0       19.2
19                 Maine              7.0       24.0
20                 Maine              7.0       24.0
21              Maryland             31.0       22.5
22         Massachusetts             25.0       25.5
23              Michigan             22.0       24.2
24             Minnesota             99.0       21.3
25           Mississippi            100.0       18.6
26              Missouri            100.0       20.0
27               Montana            100.0       20.0
28              Nebraska            100.0       20.1
29                Nevada            100.0       17.7
30         New Hampshire             16.0       25.1
31            New Jersey             31.0       23.7
32            New Mexico             67.0       19.4
33              New York             27.0       24.5
34        North Carolina            100.0       19.1
35          North Dakota             98.0       20.3
36                  Ohio            100.0       20.3
37              Oklahoma            100.0       19.3
38                Oregon             42.0       21.3
39          Pennsylvania             20.0       23.5
40          Rhode Island             15.0       24.2
41        South Carolina            100.0       18.3
42          South Dakota             77.0       21.9
43             Tennessee            100.0       19.6
44                 Texas             45.0       20.7
45                  Utah            100.0       20.4
46               Vermont             24.0       24.1
47              Virginia             24.0       23.9
48            Washington             24.0       22.2
49         West Virginia             65.0       20.3
50             Wisconsin            100.0       20.5
51               Wyoming            100.0       20.0

In [43]:
act_2018.head()

        State Participation  Composite
0     Alabama          100%       19.1
1      Alaska           33%       20.8
2     Arizona           66%       19.2
3    Arkansas          100%       19.4
4  California           27%       22.7

In [44]:
sat_2017.dtypes

State                                 object
Participation                         object
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

In [7]:
sat_2017 = pd.read_csv("../data/sat_2017.csv")

In [4]:
sat_2018 = pd.read_csv("../data/sat_2018.csv")

In [10]:
sat_2017.head(10)

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,5%,593,572,1165
1,Alaska,38%,547,533,1080
2,Arizona,30%,563,553,1116
3,Arkansas,3%,614,594,1208
4,California,53%,531,524,1055
5,Colorado,11%,606,595,1201
6,Connecticut,100%,530,512,1041
7,Delaware,100%,503,492,996
8,District of Columbia,100%,482,468,950
9,Florida,83%,520,497,1017

In [24]:
sat_2017.head(21)

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,5%,593,572,1165
1,Alaska,38%,547,533,1080
2,Arizona,30%,563,553,1116
3,Arkansas,3%,614,594,1208
4,California,53%,531,524,1055
5,Colorado,11%,606,595,1201
6,Connecticut,100%,530,512,1041
7,Delaware,100%,503,492,996
8,District of Columbia,100%,482,468,950
9,Florida,83%,520,497,1017
10,Georgia,61%,535,515,1050
11,Hawaii,55%,544,541,1085
12,Idaho,93%,513,493,1005
13,Illinois,9%,559,556,1115
14,Indiana,63%,542,532,1074
15,Iowa,2%,641,635,1275
16,Kansas,4%,632,628,1260
17,Kentucky,4%,631,616,1247
18,Louisiana,4%,611,586,1198
19,Maine,95%,513,499,1012
20,Maryland,69%,536,52,1060

In [11]:
sat_2017_total = []

In [12]:
sat_2017_total = [sat_2017['Evidence-Based Reading and Writing'] + sat_2017['Math']]

In [13]:
sat_2017_total_bool = [i==j for (i,j) in zip(sat_2017['Total'],sat_2017_total)]

In [15]:
# sat_2017_total_bool

In [16]:
sat_2017_total_df = pd.DataFrame(sat_2017_total).T

In [17]:
sat_2017_total_compare = pd.concat([sat_2017['Total'],sat_2017_total_df], axis=1)

In [20]:
sat_2017_total_compare

    Total     0
0    1165  1165
1    1080  1080
2    1116  1116
3    1208  1208
4    1055  1055
5    1201  1201
6    1041  1042
7     996   995
8     950   950
9    1017  1017
10   1050  1050
11   1085  1085
12   1005  1006
13   1115  1115
14   1074  1074
15   1275  1276
16   1260  1260
17   1247  1247
18   1198  1197
19   1012  1012
20   1060   588
21   1107  1106
22   1005  1004
23   1295  1295
24   1242  1241
25   1271  1271
26   1196  1196
27   1253  1254
28   1116  1116
29   1052  1052
30   1056  1056
31   1138  1138
32   1052  1051
33   1081  1081
34   1256  1256
35   1149  1148
36   1047  1047
37   1108  1108
38   1071  1071
39   1062  1063
40   1064  1064
41   1216  1215
42   1228  1227
43   1020  1020
44   1238  1238
45   1114  1113
46   1102  1102
47   1075  1075
48   1086  1086
49   1291  1291
50   1230  1230

In [25]:
sat_2018

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,6%,595,571,1166
1,Alaska,43%,562,544,1106
2,Arizona,29%,577,572,1149
3,Arkansas,5%,592,576,1169
4,California,60%,540,536,1076
5,Colorado,100%,519,506,1025
6,Connecticut,100%,535,519,1053
7,Delaware,100%,505,492,998
8,District of Columbia,92%,497,480,977
9,Florida,56%,550,549,1099
10,Georgia,70%,542,522,1064
11,Hawaii,56%,480,530,1010
12,Idaho,100%,508,493,1001
13,Illinois,99%,513,506,1019
14,Indiana,63%,542,532,1074
15,Iowa,3%,634,631,1265
16,Kansas,4%,633,631,1265
17,Kentucky,4%,630,618,1248
18,Louisiana,4%,615,595,1210
19,Maine,99%,512,501,1013
20,Maryland,76%,545,535,1080
21,Massachusetts,80%,562,563,1125
22,Michigan,100%,511,499,1011
23,Minnesota,4%,643,655,1298
24,Mississippi,3%,630,606,1236
25,Missouri,4%,633,629,1262
26,Montana,10%,606,592,1198
27,Nebraska,3%,629,623,1252
28,Nevada,23%,574,566,1140
29,New Hampshire,96%,535,528,1063
30,New Jersey,82%,547,547,1094
31,New Mexico,16%,552,540,1093
32,New York,79%,534,534,1068
33,North Carolina,52%,554,543,1098
34,North Dakota,2%,640,643,1283
35,Oklahoma,8%,541,521,1062
36,Ohio,18%,552,547,1099
37,Oregon,48%,564,553,1117
38,Pennsylvania,70%,547,539,1086
39,Rhode Island,97%,513,505,1018
40,South Carolina,55%,547,523,1070
41,South Dakota,3%,622,618,1240
42,Tennessee,6%,624,607,1231
43,Texas,66%,520,512,1032
44,Utah,4%,480,530,1010
45,Vermont,64%,565,554,1120
46,Virginia,68%,567,550,1117
47,Washington,69%,543,538,1081
48,West Virginia,28%,513,486,999
49,Wisconsin,3%,641,653,1294
50,Wyoming,3%,633,625,1257

In [26]:
sat_2018_total = []

In [27]:
sat_2018_total = [sat_2018['Evidence-Based Reading and Writing'] + sat_2018['Math']]

In [28]:
sat_2018_total_bool = [i==j for (i,j) in zip(sat_2018['Total'],sat_2018_total)]

In [30]:
# sat_2018_total_bool

In [32]:
sat_2018_total_df = pd.DataFrame(sat_2018_total).T

In [33]:
sat_2018_total_compare = pd.concat([sat_2018['Total'],sat_2018_total_df], axis=1)

In [34]:
sat_2018_total_compare

    Total     0
0    1166  1166
1    1106  1106
2    1149  1149
3    1169  1168
4    1076  1076
5    1025  1025
6    1053  1054
7     998   997
8     977   977
9    1099  1099
10   1064  1064
11   1010  1010
12   1001  1001
13   1019  1019
14   1074  1074
15   1265  1265
16   1265  1264
17   1248  1248
18   1210  1210
19   1013  1013
20   1080  1080
21   1125  1125
22   1011  1010
23   1298  1298
24   1236  1236
25   1262  1262
26   1198  1198
27   1252  1252
28   1140  1140
29   1063  1063
30   1094  1094
31   1093  1092
32   1068  1068
33   1098  1097
34   1283  1283
35   1062  1062
36   1099  1099
37   1117  1117
38   1086  1086
39   1018  1018
40   1070  1070
41   1240  1240
42   1231  1231
43   1032  1032
44   1010  1010
45   1120  1119
46   1117  1117
47   1081  1081
48    999   999
49   1294  1294
50   1257  1258

#### 3. Verbally Describe Data

Take your time looking through the data and thoroughly describe the data in the markdown cell below.

Answer:

#### 4a. Does the data look complete?

Answer:

#### 4b. Are there any obvious issues with the observations?

**What is the minimum *possible* value for each test/subtest? What is the maximum *possible* value?**

Consider comparing any questionable values to the sources of your data:
- [SAT](https://blog.collegevine.com/here-are-the-average-sat-scores-by-state/)
- [ACT](https://blog.prepscholar.com/act-scores-by-state-averages-highs-and-lows)

Answer:

#### 4c. Fix any errors you identified

**The data is available** so there's no need to guess or calculate anything. If you didn't find any errors, continue to the next step.

In [8]:
#code
sat_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [9]:
sat_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [10]:
act_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     object
dtypes: float64(4), object(3)
memory usage: 3.0+ KB

In [11]:
act_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   Composite      52 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

#### 5. What are your data types? 
Display the data types of each feature.

In [ ]:
#code

What did you learn?
- Do any of them seem odd?  
- Which ones are not as they should be?

Answer:

#### 6. Fix Incorrect Data Types
Based on what you discovered above, use appropriate methods to re-type incorrectly typed data.
- Define a function that will allow you to convert participation rates to an appropriate numeric type. Use `map` or `apply` to change these columns in each dataframe.

In [ ]:
#code

- Fix any individual values preventing other columns from being the appropriate type.

In [1]:
#code

- Finish your data modifications by making sure the columns are now typed appropriately.

In [2]:
#code

- Display the data types again to confirm they are correct.

In [ ]:
#Code:

#### 7. Rename Columns
Change the names of the columns to more expressive names so that you can tell the difference the SAT columns and the ACT columns. Your solution should map all column names being changed at once (no repeated singular name-changes). **We will be combining these data with some of the data from 2018, and so you should name columns in an appropriate way**.

**Guidelines**:
- Column names should be all lowercase (you will thank yourself when you start pushing data to SQL later in the course)
- Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`.
- Column names should be unique and informative (the only feature that we actually share between dataframes is the state).

In [ ]:
#code

#### 8. Create a data dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example|

#### 9. Drop unnecessary rows

One of our dataframes contains an extra row. Identify and remove this from the dataframe.

In [3]:
#code

#### 10. Merge Dataframes

Join the 2017 ACT and SAT dataframes using the state in each dataframe as the key. Assign this to a new variable.

In [ ]:
#Code:

#### 11. Save your cleaned, merged dataframe

Use a relative path to save out your data as `combined_2017.csv`.

In [7]:
#code

## 2018 Data Import and Cleaning

Links to the 2018 ACT and SAT data are provided in the README. These data live in PDFs, and so you'll get to enjoy practicing some *manual* data collection. Save these data as a CSV in your `data` directory, and import, explore, and clean these data in the same way you did above. **Make sure you comment on your steps so it is clear *why* you are doing each process**.

#### Combine your 2017 and 2018 data into a single dataframe
Joining on state names should work, assuming you formatted all your state names identically. Make sure none of your columns (other than state) have identical names. Do yourself a favor and decide if you're encoding participation rates as floats or integers and standardize this across your datasets.

Save the contents of this merged dataframe as `final.csv`.

**Use this combined dataframe for the remainder of the project**.

## Exploratory Data Analysis


### Summary Statistics
Transpose the output of pandas `describe` method to create a quick overview of each numeric feature.

In [ ]:
#Code:

#### Manually calculate standard deviation

$$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

- Write a function to calculate standard deviation using the formula above

In [4]:
#code

- Use a **dictionary comprehension** to apply your standard deviation function to each numeric column in the dataframe.  **No loops**  
- Assign the output to variable `sd` as a dictionary where: 
    - Each column name is now a key 
    - That standard deviation of the column is the value 
     
*Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`

In [ ]:
#Code:

Do your manually calculated standard deviations match up with the output from pandas `describe`? What about numpy's `std` method?

Answer

#### Investigate trends in the data
Using sorting and/or masking (along with the `.head` method to not print our entire dataframe), consider the following questions:

- Which states have the highest and lowest participation rates for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Which states have the highest and lowest mean total/composite scores for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Do any states with 100% participation on a given test have a rate change year-to-year?
- Do any states show have >50% participation on *both* tests either year?

Based on what you've just observed, have you identified any states that you're especially interested in? **Make a note of these and state *why* you think they're interesting**.

**You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [2]:
#code

## Visualize the data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers.

Some recommendations on plotting:
- Plots have titles
- Plots have axis labels
- Plots have appropriate tick labels
- All text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Plots are interpreted to aid understanding

There is such a thing as too many plots, and there are a *lot* of bad plots. You might make some! (But hopefully not with the guided prompts below).

#### Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features

Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).

*example*:
```python
sns.heatmap(df.corr())
```

Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).

#### Define a custom function to subplot histograms

We have data for two tests for two years. We only have composite (and not subtest scores) for the 2018 ACT. We should write a function that will take the names of 2+ columns and subplot histograms. While you can use pandas plotting or Seaborn here, matplotlib gives you greater control over all aspects of your plots.

[Helpful Link for Plotting Multiple Figures](https://matplotlib.org/users/pyplot_tutorial.html#working-with-multiple-figures-and-axes)

Here's some starter code:

In [ ]:
def subplot_histograms(dataframe, list_of_columns, list_of_titles, list_of_xlabels):
    nrows = int(np.ceil(len(list_of_columns)/2)) # Makes sure you have enough rows
    fig, ax = plt.subplots(nrows=nrows, ncols=2) # You'll want to specify your figsize
    ax = ax.ravel() # Ravel turns a matrix into a vector, which is easier to iterate
    for i, column in enumerate(list_of_columns): # Gives us an index value to get into all our lists
        ax[i].hist(dataframe[column]) # feel free to add more settings
        # Set titles, labels, etc here for each subplot

#### Plot and interpret histograms 
For each of the following:
- Participation rates for SAT & ACT
- Math scores for SAT & ACT
- Reading/verbal scores for SAT & ACT

In [ ]:
# Code

#### Plot and interpret scatter plots

For each of the following:
- SAT vs. ACT math scores for 2017
- SAT vs. ACT verbal/reading scores for 2017
- SAT vs. ACT total/composite scores for 2017
- Total scores for SAT 2017 vs. 2018
- Composite scores for ACT 2017 vs. 2018

Plot the two variables against each other using matplotlib or Seaborn

Your plots should show:
- Two clearly labeled axes
- A proper title
- Using colors and symbols that are clear and unmistakable

**Feel free to write a custom function, and subplot if you'd like.** Functions save both time and space.

In [ ]:
# Code

#### Plot and interpret boxplots

For each numeric variable in the dataframe create a boxplot using Seaborn. Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.

Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).

Each boxplot should:
- Only include variables of a similar scale
- Have clear labels for each variable
- Have appropriate titles and labels

In [ ]:
# Code

#### Feel free to do additional plots below
*(do research and choose your own chart types & variables)*

Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

#### (Optional): Using Tableau, create a choropleth map for each variable using a map of the US. 

Save this plot as an image file in an images directory, provide a relative path, and insert the image into notebook in markdown.

## Descriptive and Inferential Statistics

#### Summarizing Distributions

Above, we used pandas `describe` to provide quick summary statistics of our numeric columns. We also demonstrated many visual relationships.

As data scientists, having a complete understanding of data is imperative prior to modeling.

While we will continue to build our analytic tools, we know that measures of *central tendency*, *spread*, and *shape/skewness* provide a quick summary of distributions.

For each variable in your data, summarize the underlying distributions (in words & statistics)
 - Be thorough in your verbal description of these distributions.
 - Be sure to back up these summaries with statistics.

Answers:

#### We generally assuming that data we sample from a population will be normally distributed. Do we observe this trend?

Answer:

Does This Assumption Hold for:
    - Math
    - Reading
    - Rates
Explain your answers for each distribution and how you think this will affect estimates made from these data.

Answer:

#### Estimate Limits of Data

Suppose we only seek to understand the relationship between SAT and ACT participation rates in 2017. 

##### Does it make sense to conduct statistical inference given these data specifically? 

Why or why not?

*(think about granularity, aggregation, the relationships between populations size & rates...consider the actually populations these data describe in answering this question)*

Answer:

##### Is it appropriate to compare *these* specific SAT and ACT math scores? 

Why or why not?

Answer:

#### Statistical Evaluation of Distributions 

**If you feel it's appropriate**, using methods we discussed in class, run hypothesis tests to compare variables of interest in our dataset.

In [ ]:
# Code:

## Outside Research

Based upon your observations, choose **three** states that demonstrate interesting trends in their SAT and/or ACT participation rates. Spend some time doing outside research on state policies that might influence these rates, and summarize your findings below. **Feel free to go back and create new plots that highlight these states of interest**. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. (Make sure that you cite your sources -- check with you local instructor for citation preferences).

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Choose one state with a lower participation rate and provide a suggestion for how the College Board might increase participation amongst graduating seniors in this state. Are there additional data you desire that would better inform your investigations?